.sidebar-user-panel-container {
    display: flex;
    height: 52px;
    width: 240px;
    padding: 0px 8px;
    background-color: #292b2f;
}

.sidebar-user-panel-image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-user-panel-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-user-panel-username-container {
    width: 84px;
    height: 100%;
    padding: 0px 8px;
    display: flex;
    align-items: center;

}

.sidebar-user-panel-username {
    color: white;
    font-size: 14px;
    font-weight: 600;
}