.sidebar-user-panel-container {
    position: fixed;
    bottom: 0px;
    display: flex;
    height: 52px;
    width: 224px;
    padding: 0px 8px;
    background-color: #292b2f;
}

.sidebar-user-panel-image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-user-panel-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-user-panel-username-container {
    width: 100%;
    height: 100%;
    padding: 0px 8px;
    display: flex;
    align-items: center;

}

.sidebar-user-panel-username {
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-user-panel-icon-tray {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebar-user-panel-settings-icon {
    font-size: 20px;
    color: rgb(185, 187, 190);
    margin-right: 8px;
    cursor: pointer;
}