

.message-container {
    position: relative;
    word-wrap: break-word;
    margin-top: 17px;
    min-height: 44px;
    padding: 2px 48px 2px 72px;
}

.message-container:hover {
    background-color: rgba(43, 43, 44, 0.204);
}

.message-hover-ctn {
    position: absolute;
    top: -16px;
    right: 14px;
    /* padding: 0px 14px 0px 32px; */
    cursor: pointer;
    background-color: rgb(49, 51, 56);
    transition-duration: 0.2s;
    border: 0.5px solid rgba(0, 0, 0, 0.36);
    border-radius: 3px;
}

.message-hover-ctn:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.message-hover-ctn div {
    height: 24px;
    width: 24px;
    padding: 4px;
    color: rgb(181, 186, 193);
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-hover-ctn div:hover {
    background-color: rgba(78, 80, 88, 0.298);
    color: white;
}

.message-image-container {

}

.message-container img {
    position: absolute;
    left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}