

.message-container {
    position: relative;
    word-wrap: break-word;
    margin-top: 17px;
    min-height: 44px;
    padding: 2px 48px 2px 72px;
}

.message-image-container {

}

.message-container img {
    position: absolute;
    left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}