.create-server-form-container {
    height: 404px;
    width: 440px;
    border-radius: 4px;
    background-color: white;
}

.create-server-top-text-container {
    padding: 24px 24px 0px;
}

.create-server-top-text-header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}

.create-server-top-text {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 400;
    color: #4f5660;
}

.create-server-form-area {
    height: 200px;
    width: 408px;
    margin: 16px 0px;
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
}

.create-server-upload-icon-container {
    height: 84px;
    width: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-server-upload-icons {
    height: 80px;
    width: 80px;
    border: 2px #4f5660 dashed;
    border-radius: 50%;
    cursor: pointer;
}

.create-server-uploaded-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.create-server-blue-circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #5865f2;
    margin-left: auto;
    color: white;
    display: flex;
}

.create-server-blue-circle-plus {
    margin: auto;
    color: white;
    padding-bottom: 5px;
    font-size: 20px;
}

.create-server-camera-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4f5660;
    padding: 0px 0px 10px 0px;
}

.create-server-camera-icon {
    font-size: 20px;
}

.create-server-upload-text {
    font-size: 12px;
    font-weight: 600;
}

.create-server-name-input-container {
    height: 64px;
    width: 408px;
    margin: 24px 0px 0px;
}

.create-server-name-input-label {
    font-size: 12px;
    font-weight: 600;
    color: #4f5660;
    line-height: 16px;
    margin: 0px 0px 8px
}

.create-server-name-input-container input {
    width: 388px;
    height: 16px;
    background-color: #e3e5e8;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.create-server-name-input-container input:focus {
    outline: none;
}