.main-content-container {
    height: 100vh;
    width: calc(100% - 312px);
    display: flex;
    flex-direction: column;
}

.main-content-inner-container {
    flex-grow: 1;
    background-color: #36393f;
}