.messaging-area-container {
    width: 100%;
    height: calc(100% - 48.5px - 68px);
    background-color: #36393f;
    /* overflow-y: scroll; */
}

.messaging-area-container-member-open {
    width: calc(100% - 300px);
    height: calc(100% - 48.5px - 68px);
    background-color: #36393f;
    /* overflow-y: scroll; */
}

.messaging-area-list {
    overflow-y: scroll;
    /* height: 100%; */
    max-height: calc(100vh - 48.5px - 68px);
    color: white;
}