.member-area-container {
    width: 300px;
    height: calc(100vh - 48.5px);
    background-color: #2a2c30;
    overflow-y: scroll;
}

.member-area-header {
    padding: 24px 8px 0px 16px;
    color: #96989d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
}