.member-area-container {
    width: 300px;
    height: calc(100vh - 48.5px);
    background-color: #2a2c30;
    overflow-y: scroll;
}

.member-area-header {
    padding: 24px 8px 0px 16px;
    color: #96989d;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
}

.member-area-member {
    display: flex;
    align-items: center;
    height: 42px;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 16px;
}

.member-area-member img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.member-area-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #96989d;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}